@import '../../style/variables';

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

@media only screen and (min-width: $mobileBreakpoint) {
    .toolbar {
        flex-direction: row;
    }
}

.spacer {
    width: $smallSpacing;
    height: $smallSpacing;
    display: inline-block;
}