$smallSpacing: 15px;
$mediumSpacing: 20px;
$lineSeparatorColor: #eee;

$mobileBreakpoint: 768px;

/* board */
$boardJobBackground: #fff;
$boardJobBackgroundHover: #f4f4f4;

/* button */
$buttonSmallHeight: 30px;
$buttonMediumHeight: 45px;

/* feedback */
$feedbackSvgSize: 200px;
$feedbackFontSize: 25px;
$feedbackSpacing: 50px;

/* alert background color */
$alertBackground: #f8d7da;
$alertBorderColor: darken($alertBackground, 10%);

/* linebreak */
$lineBreakColor: #eee;

/* center */
$centerMinHeight: 500px;
$centerMaxWidth: 800px;
$centerMargin: 50px;