@import '../../style/variables';

.wrapper {
    padding: $mediumSpacing;
}

.jobTitle {
    margin: 0;
}

.locationIcon {
    height: 16px;
    width: 16px;
    color: #757575;
    vertical-align: text-top;
    margin-right: 5px;
}