@import '../../style/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: $feedbackSpacing;
}

.wrapper.hasSvg {
    justify-content: space-between;
}

.svgStyle {
    height: $feedbackSvgSize;
    width: $feedbackSvgSize;
}

.text {
    font-size: $feedbackFontSize;
}