@import '../../style/variables';

.input {
    width: 100%;
    padding: 6px 12px;
}

.error {
    border: 2px solid #b7190c;
}

.errorText {
    font-size: 12px;
    color: #dc0000;
    float: left;
}

.inputWrapper + .inputWrapper {
    margin-top: $mediumSpacing;
}

.textArea {
    height: auto;
}