@import '../../style/variables';

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centerBox {
    background: #fff;
    width: 100%;
    max-width: $centerMaxWidth;
    min-height: $centerMinHeight;
    margin: 0;
    border-radius: 10px;
    padding: 0 0;
    position: relative;
}

@media only screen and (min-width: $mobileBreakpoint) {
    .centerBox {
        margin: $centerMargin;
    }
}