@import '../../style/variables';

.container {
    width: 100%;
    padding: $mediumSpacing;
    display: flex;
    background: $boardJobBackground;
    flex-direction: column;
}

@media only screen and (min-width: $mobileBreakpoint) {
    .container {
        flex-direction: row;
    }
}

.container:hover {
    cursor: pointer;
    background: $boardJobBackgroundHover;
}

.container + .container {
    border-top: 1px solid $lineSeparatorColor;
}

.itemHeader {
    flex: 1 1 auto;
}

.itemHeaderTitle {
    margin: 0;
}