@import '../../style/variables';

.Button {
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: $mobileBreakpoint) {
  .Button {
    width: initial;
  }
}

/* sizes */
@mixin button-size($name, $height) {
    .size#{$name} {
        padding: 0 $height;
        height: $height;
    }
}

@include button-size(Small, $buttonSmallHeight);

@include button-size(Medium, $buttonMediumHeight);

/* kinds */

@mixin button-kind($name, $background, $color, $border, $lightenIndex) {
    .kind#{$name} {
        background-color: $background;
        color: $color;
        border: 1px solid $border;
    }

    .kind#{$name}:hover {
        background-color: darken($background, 10%);
    }

    .kind#{$name}:active {
      background-color: darken($background, 20%);
    }

    .kind#{$name}.disabled {
      background-color: lighten($background, $lightenIndex);
      cursor: default;
    }
}

@include button-kind(Secondary, #ededed, #777, #dcdcdc, 10%);

@include button-kind(Primary, #007dc1, #ffffff, #124d77, 5%);

@include button-kind(Attention, #f24537, #ffffff, #d02718, 10%);
