@import '../../style/variables';

.container {
    width: 100%;
    background: $alertBackground;
    border: 1px solid $alertBorderColor;
    border-radius: 10px;
    padding: $mediumSpacing;
    font-weight: 600;
    position: relative;
}

.text, .listWrapper {
    margin: 0;
}

.dismiss {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: normal;
    font-size: 30px;
    padding: 0 16px;
    cursor: pointer;
    color: #721c24;
}

.listItem {
    font-size: 15px;
}

.dismiss:hover {
    color: black;
}